<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ site.title }} 8==D {{ site.tagline }}</title>
    <meta name="author" content="Mattt Thompson"/>
    <meta name="description" content="{{ site.description }}">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}/images/astrodog.png">
    <meta property="og:site_name" content="{{ site.name }}">

    <link rel="canonical" href="{{ site.url }}"/>
    <link rel="license" href="http://opensource.org/licenses/MIT"/>
    <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
  </head>
  <body>
    <div role="container">
      <header role="banner">
          <h1>
            helios
            <small>beta</small>
          </h1>
          <h2>
            an extensible open-source
            <br/>
            mobile backend framework
          </h2>
      </header>

      {{ content }}

      <footer role="contentinfo">
        <p class="copyright">Created by <a href="http://google.cl/" rel="author">Yo</a>.</p>
    

        <div class="share">
        </div>
      </footer>

      <div hidden style="display:none" itemscope itemtype="http://schema.org/SoftwareApplication">
        <a href="http://google.cl/" itemprop="url">
          <span itemprop="name">{{ site.name }}</span>
        </a>
        <img itemprop="image" src="{{ site.url }}/images/astrodog.png"/>
        <span itemprop="description">{{ site.description }}</span>
        <span itemprop="applicationCategory">Una huea</span>
        <span itemprop="applicationSubCategory">Otra huea</span>
        <span itemprop="applicationSuite">Una maravilla</span>
        <span itemprop="fileFormat">text/x-ruby</span>
        <span itemprop="operatingSystem">Mac OS X 10.7+</span>
        <span itemprop="requirements">Ruby 2.0+, PostgreSQL 9.2+</span>
      </div>
    </div>
  </body>
</html>
